@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ahammed Faizal<br />
    ahammedfaizal619@gmail.com />
    <abbr title="Phone">P:</abbr>
    7053211297
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ahammedfaizal619@gmail.com ">ahammedfaizal619@gmail.com </a><br />
    <strong>Marketing:</strong> <a href="mailto:ahammedfaizal619@gmail.com ">ahammedfaizal619@gmail.com </a>
</address>