@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Blood Bank</h1>
    <p class="lead">A drop to save life</p>
</div> 
A place where blood is collected from donors, typed, separated into components, stored, and prepared for transfusion to recipients. A blood bank may be a separate free-standing facility or part of a larger laboratory in a hospital.
This site will take you a easy way to save your life
<div class="row">
   
</div>